@font-face {
    font-family: 'DoomFont';
    src: url('fonts/DooM.ttf') format('truetype');
}
@font-face {
    font-family: 'AmazDoom';
    src: url('fonts/AmazDooMLeft.ttf') format('truetype');
}
:root {
    --doomShade: #cc271b;
    --doom: #f92e1f;
    --doomLight: #ff4c3b;
}
html{
    cursor: crosshair;
    height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    color: white;
    font-family: DoomFont;
}
#titulo{
    font-size: 10em;
    font-family: AmazDoom;
    color: var(--doom);
    text-shadow: 2px 2px var(--doomShade), -2px -2px var(--doomLight);
}
#banner{
    top: 0;
    height: auto;
    width: 100%;
    margin-bottom: 1px;
    border-bottom: 2px solid var(--doom);
    border-top: 2px solid var(--doom);
}
header{
    align-items: center;
    text-align: center;
}
#alerta{
    text-align: center;
    background-color: var(--doom);
    color: #111111;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}
.pinpo{
    font-size: 0.5em;
    margin-top: 10px;
    transition: 0.1s;
}
.pinpo:hover{
    font-size: 0.55em;
    transition: 0.1s;
}
c:hover, d:hover{
    color: var(--doomLight);
    text-shadow: 2px 2px var(--doom), 4px 4px var(--doom);
    transition: 0.1s;
}